/* global */
:root {
    --primary-color: #c2fe0c;
    --secondary-color: #5200ff;

    --white: #ffffff;
    --black: #000000;

    --cutoff: 900px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    max-width: var(--cutoff);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

body {
    font-family: "Inter", "Work Sans";
    background: var(--black);
    color: var(--white);
}

/* header */
header {
    background: var(--primary-color);
    color: var(--black);
    width: 100%;
    margin: 0;
}

header .inner {
    max-width: var(--cutoff);
    margin: 0 auto;
    padding: 12px 12px;
    text-align: left;

    line-height: 1;
}

header .logo {
    max-width: clamp(320px, 10vw, 720px);
    height: auto;
    padding-right: 10px;
}

header span {
    font-family: "Inter", "Work Sans";
    font-size: 28px;
    font-weight: 600;

    line-height: 1;
}

/* navbar */
nav {
    background: var(--black);
    color: var(--white);
    width: 100%;
    margin: 0;
    font-size: 0px;
}

nav .inner {
    max-width: var(--cutoff);
    height: 80px;
    margin: 0 auto;
    padding-left: 12px;
    text-align: left;
}

nav button {
    height: 80px;
    width: 80px;
    margin: 0px;

    color: var(--white);
    background-color: var(--black);

    border-width: 0px;
    border-radius: 0px;
}

nav button:hover {
    color: var(--black);
    background-color: var(--primary-color);
}

nav #selected {
    background-color: var(--secondary-color);
}

nav span.size-40 {
    font-size: 40px;
    font-variation-settings: "OPSZ" 40;
}

/* main content */
main {
    background: var(--secondary-color);

    flex: 1;
}

main .inner {
    max-width: var(--cutoff);
    margin: 0 auto;
    padding: 12px 12px 24px;
    text-align: left;
}

main h1 {
    font-size: 22px;
    margin: 24px 0 8px;
}

#intro {
    margin-top: 12px;
    margin-bottom: 0px;
}

#subintro {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.2;
}

main p {
    line-height: 1.4;
}

/* footer */
footer {
    background: var(--black);
    width: 100%;
    margin: 0;
    padding: 24px;
}

footer .inner {
    max-width: var(--cutoff);
    margin: 0 auto;
    padding: 40px 24px;
}
